
.menu{
  background-color: #141e27;
  color: black;
  height: 100vh;
}
.main-content{
  background-color: #141e27;

}
.menuComponent{
  width: 100%;
  height: 10vh;
  color: white;

}

.form-medico{
  padding: 10vh;
  color: black;

}

.mainContent{
  background-color: #b2acac;
  color: black;
  margin: 10vh 40vh;
}
