<div class="menu">
  <div class="main-content">
    <div fxLayout="row" fxLayoutAlign="center" class="menuComponent">
      <button [matMenuTriggerFor]="menu1" mat-button>Médico</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item [routerLink]="['/medicos']">Listagem de Médicos</button>
        <button mat-menu-item [routerLink]="['/cadastrarMedicos']">Cadastrar Médico</button>
      </mat-menu>
      <button [matMenuTriggerFor]="menu2" mat-button>Pacientes</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item [routerLink]="['/pacientes']">Listagem de Pacientes</button>
        <button mat-menu-item [routerLink]="['/cadastrarPacientes']">Cadastrar Paciente</button>
      </mat-menu>
      <button mat-button>Consultas</button>
      <button mat-button>Agendamento</button>
    </div>
  </div>


  <mat-card  class="mainContent">
  <mat-card-header class="mainContent" fxLayout="row wrap"  fxLayoutAlign="space-around center" >
    <mat-card-title >Inserir Medico</mat-card-title>
  </mat-card-header>
  <mat-card-content class="form-medico">

    <div fxLayout="row wrap"  fxLayoutAlign="space-around center"  >
      <div>
        <p >
          <mat-form-field appearance="fill" class="mat-form-simples">
            <mat-label>CRM</mat-label>
            <input matInput [(ngModel)]="medico.crm" placeholder="digite o crm">

          </mat-form-field>
        </p>

        <p >
          <mat-form-field appearance="fill" class="mat-form-simples">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="medico.nome" placeholder="dinggite o nome">
          </mat-form-field>
        </p>
      </div>
      <div>
        <p>
          <mat-form-field appearance="fill" class="mat-form-simples">
            <mat-label>Especialidade</mat-label>
            <input  matInput [(ngModel)]="medico.especialidade" placeholder="digite a especialidade">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill" class="mat-form-simples">
            <mat-label>Telefone</mat-label>
            <input matInput [(ngModel)]="medico.telefone" placeholder="Digite o telefone">
          </mat-form-field>
        </p>
      </div>
      <p>
        <mat-form-field appearance="fill" class="mat-form-simples">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="medico.email" placeholder="Digite o email">
        </mat-form-field>
      </p>
    </div>
  </mat-card-content>
  <mat-card-footer align="center">

    <button mat-raised-button mat-icon-button color="primary" (click)="inserirMedico()">
      <mat-icon *ngIf="operacaoCadastro">person_add</mat-icon>
      <mat-icon *ngIf="!operacaoCadastro">edit</mat-icon>
    </button>

  </mat-card-footer>
</mat-card>
</div>
